body {
    background-color: whitesmoke;
}

#CoreTable {
    display: table;
}

#MainGrid {
    width: 100%;
    display: table-row;
}

#FigletBlock {
    width: 600px;
    display: table-cell;
}

#figletOutput {
    width: 400px;
    height: 300px;
    background-color: black;
    color: white;
}

#PredictBlock {
    display: table-cell;
    width: 800px;
    height: 500px;
}

#predictInput {
    width: 400px;
    height: 300px;
    color: white;
    float: left;
}

#predictOutput {
    width: 400px;
    height: 300px;
    background-color: black;
    float: right;
    position: absolute;
    bottom: 200px;
    color: white;
}